<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
  </packageSources>
  <trustedSigners>
    <repository name="nuget.org" serviceIndex="https://api.nuget.org/v3/index.json">
      <certificate fingerprint="09702DACA40821B9E2F12DF12FB32479AD60F6C5C73A69E3EB35E06C9C3F898B" hashAlgorithm="SHA256" allowUntrustedRoot="false" />
      <certificate fingerprint="5B4E21D41D940A79F6DA8803A783F5F33AF2FB6E" hashAlgorithm="SHA256" allowUntrustedRoot="false" />
    </repository>
  </trustedSigners>
  <packageSignatureValidation>
    <accept>
      <repository name="nuget.org" />
    </accept>
  </packageSignatureValidation>
</configuration>
